apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mc-router
  namespace: flux-system
spec:
  releaseName: mc-router
  targetNamespace: minecraft
  chart:
    spec:
      chart: mc-router
      sourceRef:
        kind: HelmRepository
        name: itzg-minecraft-server-charts
        namespace: flux-system
      version: "1.4.1"
  interval: 1h
  timeout: 10m
  install:
    remediation:
      retries: 3
  upgrade:
    force: true
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    minecraftRouter:
      autoScale:
        up:
          enabled: true
        down:
          enabled: true
          after: 15m
      metrics:
        backend: prometheus
    services:
      minecraft:
        type: LoadBalancer
        port: 25565
      extraServiceSpec:
        loadBalancerIP: 172.21.0.174
    allowDeny:
      global:
        allowlist:
        - name: NemmyBangz
          uuid: 909c2efd-fddc-4dfc-8589-b22453977448
        - name: Narutoooooooo # Tyler / Love
          uuid: 57bd3028-0a39-4786-ab3c-1360145a3773
        - name: kinowithluv
          uuid: 7ee7efb7-033c-4a00-94f2-98f7bfe7787d
        - name: VII_Rook
          uuid: 3406867a-1305-4d4d-b401-7879262d2a8c
        - name: AntacusBantacus
          uuid: 9b9219b4-8c88-491a-877b-c220d0fc93fc
        - name: pipebombsales # Ellie
          uuid: 2944e0e9-4a97-4872-8f65-52a440257ebf
        - name: YIG_BAN # BIG_YAN
          uuid: 5bb132e1-51d9-4719-a364-47694d8ba2db
        - name: vapidyne
          uuid: 9cb26bc0-246d-4310-a38f-8e9b32a826cd
        - name: Laicram_Gaming
          uuid: 815988f5-6263-4394-845e-4ea1bb2ccbaa
        - name: sadmoos
          uuid: 384fa88d-a788-4870-9dad-692e685dcc32
        - name: McGiggleBalls
          uuid: dcb7aa33-baf9-4b2c-a43d-9217d17459ac
    extraEnv:
      AUTO_SCALE_ASLEEP_MOTD: "Server starting up..."
