apiVersion: helm.toolkit.fluxcd.io/v2
kind: HelmRelease
metadata:
  name: mc-router
  namespace: flux-system
spec:
  releaseName: mc-router
  targetNamespace: minecraft
  chart:
    spec:
      chart: mc-router
      sourceRef:
        kind: HelmRepository
        name: itzg-minecraft-server-charts
        namespace: flux-system
      version: "1.4.1"
  interval: 1h
  timeout: 10m
  install:
    remediation:
      retries: 3
  upgrade:
    force: true
    cleanupOnFail: true
    remediation:
      retries: 3
  values:
    minecraftRouter:
      autoScale:
        up:
          enabled: true
        down:
          enabled: true
          after: 15m
      metrics:
        backend: prometheus
    services:
      minecraft:
        type: LoadBalancer
        port: 25565
      extraServiceSpec:
        loadBalancerIP: 172.21.0.174
    allowDeny:
      global:
        allowlist:
        - name: NemmyBangz
          uuid: 909c2efd-fddc-4dfc-8589-b22453977448
        - name: Narutoooooooo
          uuid: 57bd3028-0a39-4786-ab3c-1360145a3773
        - name: kinowithluv
          uuid: 7ee7efb7-033c-4a00-94f2-98f7bfe7787d
    extraEnv:
      AUTO_SCALE_ASLEEP_MOTD: "Server warming up... try again in a few minutes!"
